:root {
	--bg-color: #333;
	--text-color: #fff;

	--link-color: #999;
	--link-highlight-size: 4px;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration-style: dashed;
	font-weight: bold;
	color: var(--link-color);
	transition: 0.1s;
}

a:hover {
	text-decoration: none;
	background: var(--link-color);
	color: var(--bg-color);
	margin: calc(0px - var(--link-highlight-size));
	padding: var(--link-highlight-size);
}

blockquote {
	margin: 1em;
	padding: 1px 1em 1px 1em;
	background: #1e1e1e;
	color: #cccccc;
}

#me {
	margin: 8px;
	vertical-align: middle;
	max-width: 5vw;
}

@media only screen and (max-width: 620px) {
	body {
		padding: 10px;
	}

	#me {
		/* vertical-align: text-middle; */
		max-width: 10vw;
	}
}
