@include "native.css";

body {
	background-color: #cdb989;
	padding: 80px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #8b5600;
}

a:hover {
	background: #8b5600;
	color: #cdb989;
	padding: 3px;
}

blockquote {
	margin: 10px;
	padding: 1px 1em 1px 1em;
	background: #1e1e1e;
	color: #cccccc;
}

@media only screen and (max-width: 620px) {
	body {
		padding: 10px;
	}
}
