/* enough CSS for today */

body {
	background-color: #C3B093;
	padding: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #8B5600;
}

#me {
	max-width: 5vw;
}
